.event-pane {
    max-width: 500px;
    min-width: 300px;
    min-height: 150px;
    margin: 20px 0px;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
    background-color: #4b4a4a;
    cursor: pointer;
    


    h6 {
        margin: 0;
        font-size: 16px;
        border-bottom: 1px solid 
    }

}
