.current-user-info-pane {
    display: flex;
    justify-content: start;
    align-items: center;

    .left-block{
        display: inline-block;
    }

    .right-block {
        padding: 0 0 0 10px;
        display: inline-block;
        vertical-align: center;

        .role {
            font-weight: 100;
            color: #adadad;
        }

        .company {
            font-size: 10px;
        }

    }


    img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.377);
        cursor: pointer;
    }
}