.dashboard-header {
  width: 100vw;
  height: 70px;
  background-color: #393939;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0px 20px;

  h1{
    font-weight: 300;
    font-size: 18px;
  }

  .left-side, .right-side {
    flex: 1;
  }

  .left-side {
    text-align: left;
  }

  .right-side {
    text-align: right;
  }

}
