.login-page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login-content{
    max-width: 550px;
    min-width: 350px;

    h1{
      margin: 5px 0px;
      color: #fff;
      text-align: left;
      font-weight: 300;
    }

    .actions-bar{
      padding: 10px 0px;
    }

    a{
      width: 100%;
      text-align: center;
      display: inline-block;
      margin: 10px 0px;
      color: #a1a1a1;
      transition: color 0.5s;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .login-footer{
    span {
      margin-left: 10px;
    }
  }

}
