#first-time-setup-page {
    width: 100vw;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-header {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-align: center;
            width: 150px;
            padding: 10px;
            margin: 20px;
            border-radius: 3px; 
            color: #b3b2b2;
            text-decoration: none;
            transition: 0.5s all;
            border: 1px solid rgba(0, 0, 0, 0);
            
        }

        a:hover {
            transition: 1s all;            
            border: 1px solid #b3b2b2;
        }

    }

    h1{
        text-align: center;
        margin: 40px 0px;
        padding: 20px 0px;
        border-bottom: 1px solid #c7c7c7;
    }

    .content-column {
        width: 100%;
        margin: 50px 0 100px 0px;
        min-width: 350px;
        max-width: 500px;
        text-align: center;

        input[type="file"]{
            display: none;
        }

        .image-upload-label {
            cursor: pointer;
            display: inline-flex;
            width: 230px;
            height: 230px;
            margin: 50px;
            border-radius: 150px;
            background-color: #444444;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: 0.3s all;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            border: 1px solid lighten(#444444, 60%);

            &:hover {
                background-color: lighten(#444444, 25%);    
            }


            &:active {
                background-color: darken(#444444, 25%);
            }
        }

    }

}