.text-input-container {
  position: relative;
  margin: 15px 0px;
  display: flex;
  flex-direction: column;

  .input-background-pane {
    position: absolute;
    height: 56px;
    width: 100%;
    background-color: rgba(41, 41, 40, 0.80);
  }

  .validation-message-container {
    display: none;
    position: absolute;
    bottom: -35px;
    width: 100%;
    color: #fff;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(#262525, 0.95);

    p{
      margin: 0;
    }

  }

  input {
    z-index: 10;
    background: rgba(#ffffff, 0);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 100;
    padding: 20px 10px;
    max-height: 56px;
    border: none;
    border-bottom: 2px solid rgba(97, 97, 97, .1);
    transition: all .3s linear;
    color: #fff;
  }

  input:focus {
    border-bottom: solid 2px #427ac3;
    outline: 0;
  }

  input:not(:placeholder-shown) {
    padding-top: 28px;
    padding-bottom: 12px;
  }

  input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    transition: 0.5s all;
    opacity: 1.0;
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 600;
    top: 30px;
    left: 10px;
  }

  label {
    transition: 0.5s all;
    z-index: 5;
    font-weight: 600;
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    color: #b3b3b3;
    font-weight: 300;
    opacity: 0.8;
  }

  &.subtle-white {

    .input-background-pane {
      background-color: rgba(241, 241, 241, 0.8);
    }

    input { color: #0e0e0e };

    label { color: #555555 };

    input:not(:placeholder-shown) + label { color: #595959 };

    input:disabled {
      border:1px solid #b8b8b8;
      opacity: 0.3;

      & + label {
        opacity: 0.5;
      }

      & + label + .input-background-pane {
        opacity: 0.5;
      }


    }



  }

}
