.text-input-container {
  position: relative;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;

  .input-background-pane {
    position: absolute;
    height: 56px;
    width: 100%;
    background-color: rgba(41, 41, 40, 0.80);
  }

  input {
    z-index: 10;
    background: rgba(#ffffff, 0);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 100;
    padding: 20px 10px;
    max-height: 56px;
    border:none;
    border-bottom: 2px solid rgba(97, 97, 97, .1);
    transition: all .3s linear;
    color: #fff;
  }

  input:focus {
    border-bottom: solid 2px #427ac3;
    outline: 0;
  }

  input:not(:placeholder-shown) {
    padding-top: 28px;
    padding-bottom: 12px;
  }

  input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    transition: 1s all;
    opacity: 1.0;
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 600;
    top: 30px;
    left: 10px;
  }

  label {
    transition: 1s all;
    z-index: 5;
    font-weight: 600;
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    color: #b3b3b3;
    font-weight: 300;
    opacity: 0.8;
  }

}
