.forgotten-password-page {
  width: 100vw;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 20px 0px;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #b5b5b5;
    transition: 1s all;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }
  
}
