.section-pane-header {
  margin: 0 0 70px 0;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;

  .left-side {
    h3{
      vertical-align: sub;
      display: inline-block;
      font-size: 26px;
    }
  }
  .right-side {
    flex-grow: 1;
    text-align: right;
  }
}
