.signup-page {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 0px;

  .signup-content-pane{
    border-radius: 3px;
    min-width: 200px;
    max-width: 500px;
    box-sizing: border-box;
    padding: 50px;
    min-height: 95vh;
    background-color: #fff;

    h1{
      text-align: center;
      padding: 0 0 30px 0;
    }

    p{
      font-weight: 300;
      line-height: 35px;
      color: darken(#737373, 10%);
      text-align: center;
      font-size: 20px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: #737373;
      padding: 50px 0px;
    }


    .inputs-container{

    }

  }
}
